{% extends "../pages/base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/users/user-info_styles.css' %}">
{% endblock extra_head %}


{% block content %}

    <div class='info'>

        <div id="left">
            <div class="photo">
                <img src="{% static 'images/prof-icon.png' %}" alt="profile icon" height="100" width="100">
            </div>

            <div class="menu-container">
                <form method="post" action="{% url 'log_out' %}">
                    {% csrf_token %}
                    <button class="menu-item">Log Out</button>
                </form>
            </div>
        </div>

        <div class="personal-info">
            <h1>{% firstof name email %}</h1>
            <hr>

            <div id="user-details">
                <p><b>Your personal info</b></p>

                <p>Email <span>{{ email }}</span></p>
                <p>Your ID <span>{{ user_id }}</span></p>
                <p>Date of joining the service <span>{{ date_joined }}</span></p>
            </div>


            <div id="TBR">
                <p><b>TBR</b></p>

                {% for key, value in TBR.items %}
                    <a href="/catalog/book/{{ value.id }}">
                        {% if value.cover %}
                        <img src="{{ value.cover }}" alt="{{ value.name }}" height="156">
                        {% else %}
                        <img src="{% static 'images/no-cover.jpg' %}" alt="Nothing" width="166" height="256">
                        {% endif %}
                    </a>
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}
