{% extends "../pages/base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/users/user-info_styles.css' %}">
{% endblock extra_head %}


{% block content %}

    <div class='info'>
        <div class="photo">

        </div>
        <div class="personal-info">
            <h1>{{ name }}</h1>
            <hr>

            <p>Email: {{ email }}</p>
            <p>Your ID: {{ user_id }}</p>
            <p>Date of joining the service: {{ date_joined }}</p>
            <p>TBR:
                {% for key, value in TBR.items %}
                    <a href="{% url 'book_info' book_id=key %}">{{ value.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        </div>

        <div class="menu-container">
            <a href="#" class="menu-item">Change Personal Info</a>
            <form method="post" action="{% url 'log_out' %}">
                {% csrf_token %}
                <button class="menu-item">Log Out</button>
            </form>
        </div>
    </div>

{% endblock %}
