.info {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    padding: 20px;
}

#left {
    padding: 0;
    float: right;
}

.photo {
    height: 20%;
    margin-bottom: 40px;
    margin-right: 20px;
    float: left;
}

.menu-container {
    margin-right: 10px;
    padding: 10px;
    right: 0;
    text-align: center;
}

.menu-item {
    display: block;
    padding: 7px;
    color: #3a3333;
    font-size: large;
    margin-right: 15px;
    text-decoration: none;
    cursor: pointer;
}

.personal-info {
    width: 40%;
}

.personal-info h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.personal-info hr {
    margin: 10px 0;
}

.personal-info p {
    margin: 5px 0;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin: auto;
}


.menu-item:hover {
    color: #212121;
    background-color: #4f4f4f;
    border-radius: 30px;
}

#user-details {
    border: #E5E5E5 2px solid;
    margin: 10px 0;
    padding: 10px;
}

#user-details > p {
    font-size: small;
}

#user-details > p:first-child {
    padding-bottom: 5px;
}

#user-details > p > span {
    float: right;
}

#TBR {
    margin: 10px 0;
    padding: 10px;
    border: #E5E5E5 2px solid;
    overflow: auto;
    white-space: nowrap;
}

#TBR > p {
    padding-bottom: 10px;
}

#TBR > a > img {
    padding-right: 15px;
}