{% extends "./base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/pages/catalog_styles.css' %}">
{% endblock extra_head %}


{% block content %}
    <main>
        <h3 class="header-text">Browse All Books</h3>

        <form action="{% url 'catalog' %}" method="get">
            <input type="text" id="id_search_query" name="search_query" placeholder="Search all books...">
        </form>


        {% if result %}
            <div class="book-container">
                {% for book in result %}

                <a href="book/{{ book.3 }}" class="cover">
                    {% if book.4 %}
                        <img src="{{ book.4 }}" alt="{{ book.0 }}">
                    {% else %}
                        <img src="{% static 'images/no-cover.jpg' %}" alt="Nothing" height="200" width="132.5">
                    {% endif %}
                </a>
                <div class="left-content">
                    <form method="post" class="shelf {% if book.7 %} in_tbr {% endif %}">
                        {% csrf_token %}
                        <input type="hidden" name="book_id" value="{{ book.3 }}">
                        <button type="submit">to read</button>
                    </form>

                    <a href="book/{{ book.3 }}"><h3 class="title">{{ book.0 }} {{ book.1 }}</h3></a>
                    <p class="author">{{ book.2 }}</p>
                    <p class="rating">{{ book.5 }} avg rating</p>
                    <p class="pages">{{ book.6 }} pages</p>
                </div>
                {% endfor %}
                </div>
                <a href="{{ modified_url }}&start_index={{ prev_start_index }}&max_results={{ max_results }}" class="previous page">&laquo; Previous</a>
                <a href="{{ modified_url }}&start_index={{ next_start_index }}&max_results={{ max_results }}" class="next page">Next &raquo;</a>

            </div>
        {% endif %}

        {% if messages %}
            <script>
                var messages = [];

                {% for message in messages %}
                    messages.push("{{ message }}");
                {% endfor %}

                if (messages.length > 0) {
                    alert(messages.join("\n"));
                }
            </script>
        {% endif %}
    </main>
{% endblock content %}