{% extends "./base.html" %}

{% block content %}
    <main>
        <form action="{% url 'catalog' %}" method="get">
            {% csrf_token %}
            <label for="id_search_query">Search for books:</label>
            <input type="text" id="id_search_query" name="search_query" value="{{ form.search_query.value }}">
            <button type="submit">Search</button>
        </form>


        {% if result %}
            <h2>Search Results</h2>
            <ul>
                {% for book in result %}
                    <li>{{ book[0] }} {{ book[1] }}  by {{ book[2] }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </main>
{% endblock content %}