.info {
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    overflow: hidden;
}

#left {
    height: 100vh;
    float: left;
}

.cover {
    margin-right: 40px;
}

.cover img {
    display: block;
    padding-top: 7px;
}

.book-info {
    overflow: hidden;
}

h1 {
    margin: 0;
    padding-top: 0;
}

.TBR {
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    color: #3B3B3B;
    cursor: pointer;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin-top: 20px;
    min-height: 20px;
    min-width: 0;
    outline: none;
    padding: 5px 3px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 128px;
    will-change: transform;
}

.TBR:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
