{% extends "../pages/base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/auth/login_styles.css' %}">
{% endblock extra_head %}


{% block content %}

    <div class="login-container">
        <h2>Login</h2>
        <form class="login-form" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ message }}
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>
        </form>
        <a href="{% url 'register' %}"><button class="register-but">Register</button></a>
    </div>

{% endblock %}
