{% extends "../pages/base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/book/book_info_styles.css' %}">
{% endblock extra_head %}


{% block content %}

    <div class='info'>
        <div id="left">
            <div class="cover">
                {% if cover %}
                    <img src="{{ cover }}" alt="{{ title }}">
                {% else %}
                    <img src="{% static 'images/no-cover.jpg' %}" alt="Nothing" height="195">
                {% endif %}
            </div>

            <form action="#" method="POST">
                {% csrf_token %}
                <button class="TBR" role="button">Want to read</button>
            </form>
        </div>

        <div class="book-info">
            <h1>{{ title }}</h1>
            {% if subtitle %}
                <h1>{{ subtitle }}</h1>
            {% endif %}
            <hr>

            <p><b>Author:</b> {{ authors }}</p>
            <p><b>Publisher:</b> {{ publisher }}</p>
            <p><b>Rating on Google Books:</b> {{ rating }}/5</p>
            <p><b>Date of publication:</b> {{ year }}</p>
            <p><b>Amount of pages:</b> {{ pages }}</p>
            <p><b>Categories:</b> {{ categories }}</p>
            <p><b>Description:</b>
                {% autoescape off %}
                    {{ description }}
                {% endautoescape %}
            </p>
        </div>
    </div>

    {% if messages %}
        {% for message in messages %}
            <script>
                alert('{{ message }}');
            </script>
        {% endfor %}
    {% endif %}


{% endblock %}
