{% extends "../pages/base.html" %}
{% load static %}
{% load replace %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/book/book_info_styles.css' %}">
{% endblock extra_head %}


{% block content %}

    <div class='info'>
        <div id="left">
            <div class="cover">
                {% if cover %}
                    <img src="{{ cover }}" alt="{{ title }}" width="200px">
                {% else %}
                    <img src="{% static 'images/no-cover.jpg' %}" alt="Nothing" width="200px">
                {% endif %}
            </div>

            <form action="#" method="POST">
                {% csrf_token %}
                <button class="TBR" role="button">Want to read</button>
            </form>
        </div>

        <div class="book-info">
            <h1>{{ title }}</h1>
            {% if subtitle %}
                <h1>{{ subtitle }}</h1>
            {% endif %}

            <p id="author">
                {% for author in authors %}
                    <a href="/catalog/?search_query={{ author | replace_author }}">{{ author }} </a>
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>

            <hr>

            <p>{{ pages }} <small>pages</small>  &#x2022;  {{ rating }} &#9733;</p>

            <div id="categories">
                {% for category in categories %}
                    <span>{{ category | replace_cat }}</span>
                {% endfor %}
            </div>

            <div id="edition-details">
                <button onclick="readEditionInfo()" id="edition-info-butt">Edition details &dArr;</button>
                <div id="edition">
                    <p><b>Publisher</b><span>{{ publisher }}</span></p>
                    <p><b>Publication</b><span>{{ year }}</span></p>
                    <p><b>Language</b><span>{{ language.upper }}</span></p>
                    <p><b>ISBN</b><span>{{ isbn }}</span></p>
                </div>
            </div>

            <div id="description">
                <p id="desc">Description</p>
                {% autoescape off %}
                    {{ short_description }}<span id="dots">...</span><p id="more">{{ long_description }}</p>
                {% endautoescape %}
                <button onclick="readMore()" id="read">Read more</button>
            </div>
        </div>
    </div>

    <script>
    function readMore() {
      var dots = document.getElementById("dots");
      var moreText = document.getElementById("more");
      var btnText = document.getElementById("read");

      if (dots.style.display === "none") {
        dots.style.display = "inline";
        btnText.innerHTML = "Read more";
        moreText.style.display = "none";
      } else {
        dots.style.display = "none";
        btnText.innerHTML = "Read less";
        moreText.style.display = "inline";
      }
    }

    function readEditionInfo() {
        var butt = document.getElementById("edition-info-butt");
        var editionInfo = document.getElementById("edition");

        if (butt.style.display === "none") {
            butt.style.display = "inline";
            editionInfo.style.display = "none";
        } else {
            butt.style.display = "none";
            editionInfo.style.display = "inline";
        }
    }

    </script>

    {% if messages %}
        {% for message in messages %}
            <script>
                alert('{{ message }}');
            </script>
        {% endfor %}
    {% endif %}


{% endblock %}
