{% extends "../pages/base.html" %}
{% load static %}
{% load replace %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/book/book_info_styles.css' %}">
{% endblock extra_head %}


{% block content %}

    <div class='info'>
        <div id="left">
            <div class="cover">
                {% if cover %}
                    <img src="{{ cover }}" alt="{{ title }}" width="200px">
                {% else %}
                    <img src="{% static 'images/no-cover.jpg' %}" alt="Nothing" width="200px">
                {% endif %}
            </div>

            <form action="#" method="POST">
                {% csrf_token %}
                <button class="TBR" role="button">Want to read</button>
            </form>
        </div>

        <div class="book-info">
            <h1>{{ title }}</h1>
            {% if subtitle %}
                <h1>{{ subtitle }}</h1>
            {% endif %}
            <hr>

            <p><b>Author:</b>
                {% for author in authors %}
                    <a href="/catalog/?search_query={{ author | replace_author }}">{{ author }} </a>
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            <p><b>Publisher:</b> {{ publisher }}</p>
            <p><b>Rating on Google Books:</b> {{ rating }}/5</p>
            <p><b>Date of publication:</b> {{ year }}</p>
            <p><b>Amount of pages:</b> {{ pages }}</p>
            <p><b>Language:</b> {{ language.upper }}</p>
            <p><b>Categories:</b>
                <ul>
                    {% for category in categories %}
                        <li>{{ category | replace_cat }}</li>
                    {% endfor %}
                </ul>
            </p>
            <p><b>Description:</b>
                {% autoescape off %}
                    {{ description }}
                {% endautoescape %}
            </p>
        </div>
    </div>

    {% if messages %}
        {% for message in messages %}
            <script>
                alert('{{ message }}');
            </script>
        {% endfor %}
    {% endif %}


{% endblock %}
