.book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}

.book {
    text-align: center;
    margin: 10px;
    flex: 0 1 calc(33.33% - 20px);
}

.book img {
    max-width: 80px;
    padding-top: 20px;
    padding-bottom: 0;
    height: auto;
}

.book:hover {
    background-color: #555555;
}

a {
    text-decoration: none;
    color: #1b1b1b;
}

.next, .previous {
    color: black;
    padding: 2px;
}

.page:hover {
    background-color: #575757;
}

h3 {
    margin: 5px;
}

p {
    margin: 2px 2px 20px;
}

.search {
    border-radius: 10%;
    padding-top: 3px;
    padding-bottom: 3px;
}

.text_search {
    font-size: large;
    font-weight: bold;
}