main {
    margin: 0 27% 27%;
    border-right: 2px solid #E5E5E5;
    border-left: 2px solid #E5E5E5;
    border-bottom: 2px solid #E5E5E5;
    height: 100%;
}

.header-text {
    text-align: left;
    width: 100%;
    padding: 3% 0;
    margin: 0;
}

#id_search_query {
    height: 40px;
    width: 300px;
    border-radius: 5px;
    border: #E5E5E5 2px solid;
    float: left;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.cover {
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 0;
}

.left-content {
    width: 71%;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 0;
    padding-left: 8px;
    text-align: left;
    border: #E5E5E5 0.2px solid;
    border-radius: 5px;
}

.left-content h3,
.left-content p {
    max-width: 70%;
    padding: 0;
}

.author,
.pages {
    margin: 0;
}

.title,
.rating {
    margin-bottom: 4px;
}

.pages {
    font-size: small;
}

.shelf {
    float: right;
    margin: 4% 0 0;
    padding-right: 8px;
}

.shelf button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    border-radius: 5px;
}

.in_tbr button {
    color: #04AA6D;
    background-color: white;
    border: #E5E5E5 2px solid;
    border-radius: 5px;
}

.book img {
    padding-bottom: 0;
    padding-right: 0.7%;
}

.book:hover {
    background-color: #555555;
}

a {
    text-decoration: none;
    color: #1b1b1b;
}

.next, .previous {
    color: black;
    padding: 2px;
}

.page:hover {
    background-color: #575757;
}

.search {
    border-radius: 10%;
    padding-top: 3px;
    padding-bottom: 3px;
}

.text_search {
    font-size: large;
    font-weight: bold;
}